<% if @event %>
<%= link_to :controller => :lessons, :action => :show_lesson, :lesson_id => Program.find(current_user.my_training_id).lessons.where(:title => @event.title).first.id, :group => true do %>
<button class="btn btn-success btn-large btn-ready" ><i class="icon-group"></i>&nbsp;<%= @event.title %></button>
<% end %>
<% end %>
