<h1>Nuovo messaggio</h1>
 <%= form_for :message, url: {controller: :messages, action: :create} do |f| %>
	  <%= f.text_field :reciever, :placeholder => 'Destinatario' %>
	  <%= f.text_area :body, :placeholder => 'Testo...'%>
	  <button type="submit" class="btn btn-mini btn-success">Send</button>
 <% end %>