<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a new Program</h3>
  </div>
  <div class="modal-body">
    <%= form_for :new_program, url: {controller: :programs, action: :create} do |f| %>
    <%= f.text_field :title, placeholder: "Title.." %><br />
    <%= f.text_area :description, placeholder: "Program description..", cols:30, rows:5 %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
    <% end %>
  </div>
</div>
<!-- Modal -->

<!-- Modal for Remove -->
<div id="removeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are You Sure?</h3>
  </div>
  <div class="modal-body">
    <p>Non cliccare Yes che non funzia :) </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No, save it.</button>
    <%=link_to '<button class="btn btn-primary">Yes delete.</button>'.html_safe %>
  </div>
</div>
