<div class="well">
  <div class="center">
    <h2>List of all Programs</h2>
  </div>
  <% if @programs.count == 0 %>
  <div class="alert alert-error">
    <h2><strong><center>There isn't any active Program right now</center></strong></h2>
  </div>
  <% else %>
  <ul type="none" class="programs">
    <% @programs.each do |program| %>
    <li>
      <div class="well" style="background-color:white">
	<h4><%= program.title %></h4>
	<p><%= program.description %></p>
	<%= link_to 'Remove', action: :destroy, :id => program.id %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  <div class="center">
    <button href="#myModal" class="btn btn-primary btn-default" data-toggle="modal"></i class="icon-plus icon-white"></i>Add One</button>
  </div>
</div>

<%= render "modal" %>
