	
<div class="row-fluid">
	<div class="page-title">
  		<h2 class="center">
      		<i class="icon-calendar"></i>&nbsp;CALENDARIO
  		</h2>  
	</div>
</div>

	<div class="row-fluid">
	<div id='calendar'></div>
	<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Data: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Inizio: </label><select name="start"><option value="">Seleziona</option></select>
				</li>
				<li>
					<label for="end">Fine: </label><select name="end"><option value="">Seleziona</option></select>
				</li>
				<li>
					<label for="title">Titolo: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Descrizione: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
</div>

