<h1>I miei amici</h1>
<br />
<%= form_for :research, :remote => true, url: {controller: :users, action: :search} do |f| %>
<%= f.text_field :text, placeholder: "Cerca qualcuno" %>
<!--<button class="btn btn-default" type="submit"><i class="icon icon-search"></i></button>-->
<% end  %>
