  <div class="row-fluid" style="margin-top: 20px">
    <% @users.each do |u| %>
     <div class="user-box">
      <h4><%= u.username.capitalize %></h4>
      <p><%= u.email %></p>
      <%= link_to "<button class=\"btn btn-danger\"><i class=\"icon-trash\"></i>&nbsp;Elimina</button>".html_safe, controller: :users, action: :destroy, :user_id => u.id %>
    </div>
    <% end %>
    <div style="clear: both"></div>
  </div>
