$('div.modal-body').prepend(
	'<div class="alert alert-success"><strong>La tua registrazione è avvenuta correttamente verrai automaticamente reindirizzato alla tua home page</strong></div>'
);
$('div.alert-success').fadeOut(5000,function(){
	window.location = '/users/home_utente';
});