<div style="max-height: 2048px; max-width: 1536px">
	<div class="row-fluid" id="profile-row-line-top">
		<div class="span6 offset6" id="light-menu">
          <ul type="none">
            <li><i class="icon-user"></i>&nbsp;<%= current_user.username.capitalize %></li>
            <li><%= link_to '<i class="icon-off"></i>&nbsp;Logout'.html_safe, controller: :sessions, action: :destroy %></li>
          </ul> 
      </div>
	</div>


	<div class="row-fluid menu-el">
		<div class="span6 center span-sx" style="background-color: rgb(185, 74, 72)">
			<h2><i class="icon-list"></i>&nbsp;<%= link_to "ALLENAMENTO", controller: :users, action: :list %></h2>
		</div>
		<div class="span6 center span-dx" style="background-color: white">
			<h2 style="color:#a73d3b"><i class="icon-bar-chart" style="color:black"></i>&nbsp;PROGRESSI</h2>
		</div>
	</div>
	<div class="row-fluid menu-el ">
		<div class="span6 center span-sx" style="background-color: white; border-right: solid 15px rgb(221, 221, 221)">
			<h2 style="color:#a73d3b"><i class="icon-calendar" style="color:black"></i>&nbsp;CALENDARIO</h2>
		</div>
		<div class="span6 center span-dx" style="background-color: rgb(185, 74, 72); border-left: solid 15px #a73d3b"> 
			<h2 style="color:#fff"><i class="icon-envelope" style="color:black"></i>&nbsp;MESSAGGI</h2>
		</div>
	</div>
	<div class="row-fluid menu-el">
		<div class="span6 center span-sx" style="background-color: rgb(185, 74, 72)">
			<h2 style="color:#fff"><i class="icon-comments" style="color:black"></i>&nbsp;MESSAGGI</h2>
		</div>
		<div class="span6 center span-dx" style="background-color: white">
			<h2 style="color:#a73d3b"><i class="icon-group" style="color:black"></i>&nbsp;AMICI</h2>
		</div>
	</div>

</div>
