	<h2><%=link_to "USERS", controller: :users, action: :edit %><h2>

	    <div class="row-fluid menu-el">
	 
	      <!--
		  <div class="span6 center span-sx">
		    <h2><i class="icon-list"></i>&nbsp;<%= link_to "ALLENAMENTO", controller: :users, action: :list %></h2>
		  </div>
		  -->
	      
	      <%= link_to ({ controller: :users, action: :list }) do %>
	      <div class="span6 center span-sx">
		<h2><i class="icon-list"></i>&nbsp;ALLENAMENTO</h2>
	      </div>  
	      <% end %>
	      
	      <div class="span6 center span-dx" >
		<h2 class="red"><i class="icon-bar-chart black"></i>&nbsp;PROGRESSI</h2>
	      </div>	      
	    </div>

	    <div class="row-fluid menu-el ">
	      <div class="span6 center span-odd-sx">
		<h2 class="red"><i class="icon-calendar black"></i>&nbsp;CALENDARIO</h2>
	      </div>
	      <div class="span6 center span-odd-dx"> 
		<h2 class="white"><i class="icon-envelope black"></i>&nbsp;MESSAGGI</h2>
	      </div>
	    </div>
	    
	    <div class="row-fluid menu-el">
	      <div class="span6 center span-sx">
		<h2 class="white"><i class="icon-comments black"></i>&nbsp;MESSAGGI</h2>
	      </div>
	      <div class="span6 center span-dx">
		<h2 class="red"><i class="icon-group black"></i>&nbsp;AMICI</h2>
	      </div>
	    </div>
	    
