<div class="well">
  <div class="page-header">
    <div style="text-align:center">
      <h1>Welcome to Kokko Social Gym</h1>
    </div>
    <h2 style="text-align:center">Keep fit with Kokko!</h2>
  </div>

  <div class="row-fluid">
    <div class="goal span4">
      <div class="well_plain">
        <center>
          <img id="immagine"src="http://images.all-free-download.com/images/graphiclarge/hotel_icon_has_gym_115729.jpg"/>
        </center><br/>
        <h2><i class="icon-thumbs-up icon-white"></i> GOAL #1</h2>
        <p align="justify">
          Kokkonut App offers dedicated Strength and Balance physical exercise training plans for elderly. Mangiare tanta pappa fa bene.
        </p>
      </div>
    </div>

    <div class="goal span4">
      <div class="well_plain">
        <center>
          <img id="immagine"src="http://images.all-free-download.com/images/graphiclarge/hotel_icon_has_gym_115729.jpg"/>
        </center>
        <br/>
        </i>
          <h2>
        <i class="icon-thumbs-up icon-white"></i> GOAL #2</h2>
        <p align="justify">
          Using an interactive, friendly and easy to use interface elderly can receive sound alerts whenever a new exercise need to be done. 
        </p>
      </div>
    </div>
    
    <div class="goal span4">
      <div class="well_plain">
        <center>
          <img id="immagine"src="http://images.all-free-download.com/images/graphiclarge/hotel_icon_has_gym_115729.jpg"/>
        </center><br/>
        <h2>
          <i class="icon-thumbs-up icon-white"></i> GOAL #3
        </h2>
        <p align="justify">
          Additionally, they check the details of each planned exercise, store their performance, and check their progress toward the plan.
        </p>
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <br/><br/>
    <div class="span12">
      <%= link_to '<button class="btn btn-primary btn-large" style="width:49%"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;<b>SIGN IN</b></button>'.html_safe, controller: :programs, action: :index %>
      <%= link_to '<button class="btn btn-primary btn-large" style="width:49%"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;<b>LOGIN</b></button>'.html_safe, controller: :programs, action: :index %>
    </div>
  </div>
</div>


