<% provide(:javascript, "welcome") %>
    <div class="row-fluid padding-tb" id="row-line-main">
      <div class="span8 center">
        <h1 class="main-title">Kokko Social Gym</h1>
        <h3 id="subtitle">
          Resta in forma con Social Gym...<br />
          ...allenati con i tuoi amici...<br />
          tieni d'occhio i tuoi progressi, divertiti!
        </h3>
      </div>
      <div class="span4 center">
        <%= image_tag("icon.svg") %>
      </div>
    </div>

    <!-- SEZIONE BOTTONI -->
    <div class="row-fluid" id="row-line-button"> 
      <div class="span1"></div>
      <div class="span4 center" style="padding-top:20px">
	<a href="#login-modal" role="button" class="btn btn-danger btn-large button-style" data-toggle="modal">Entra!</a>
      </div>
      <div class="span2 center">
        <div class="row-fluid center">
          <div id="triangle-top"></div>
        </div>
        <div class="row-fluid center">
          <div id="triangle-bottom"></div>
        </div>
      </div>
      <div class="span4 center" style="padding-top:20px">
	<a href="#signup-modal" role="button" class="btn btn-danger btn-large button-style" data-toggle="modal">Registrati!</a>
      </div>
      <div class="span1"></div>
    </div>
    
    <!-- SEZIONE 1 -->    
    <div class="row-fluid padding-tb" id="row-line-first">
      <div class="span6 center">
        <h2 class="shad-even">Entra in palestra!</h2>
        <p class="padd-even">
          Iscriviti subito e resta in forma nella nostra palestra virtuale.
        </p>
      </div>
      <div class="span6">
	<div class="row-fluid">
	  <div class="span6 center">
	    <i class="icon-tablet icon-4x" style="font-size: 200px"></i>
	    <i class="icon-arrow-left icon-4x" style="font-size: 100px; color: #222"></i>
	  </div>
          <div class="span6">
	    <div class="numb center shad-odd">#1</div>
	  </div>
	</div>
      </div>
    </div>

    <!-- SEZIONE 2 -->    
    <div class="row-fluid padding-tb" id="row-line-second">
      <div class="span6">
	<div class="row-fluid">
	  <div class="span6">
	    <div class="numb center shad-odd">#2</div>
	  </div>
          <div class="span6 center">
	    <i class="icon-arrow-right icon-4x" style="font-size: 100px; color: #222"></i>
	    <i class="icon-tasks icon-4x" style="font-size: 150px"></i>
	  </div>
	</div>
      </div>
      <div class="span6 center">
        <h2 class="shad-odd">Scegli un programma!</h2>
        <p class="padd-odd">
          Prova una serie di esercizi e trova quello adatto a te.
        </p>
      </div>
    </div>

    <!-- SEZIONE 3 -->    
    <div class="row-fluid padding-tb" id="row-line-third">
      <div class="span6 center">
        <h2 class="shad-even">Allenati con gli amici!</h2>
        <p class="padd-even">
          Invita i tuoi amici, allenati e divertiti con loro in palestra.
        </p>
      </div>
      <div class="span6">
        <div class="row-fluid">
	  <div class="span6 center">
	    <i class="icon-group icon-4x" style="font-size: 150px"></i>
	    <i class="icon-arrow-left icon-4x" style="font-size: 100px; color: #222"></i>
	  </div>
          <div class="span6">
	    <div class="numb center shad-odd">#3</div>
	  </div>
	</div>
      </div>
    </div>

    <!-- FOOTER -->    
    <div class="row-fluid center foot" id="row-line-bottom">
      <p>2013 Kokko - Built with <a style="color:#08C" href="http://rubyonrails.org/" target="blank">Ruby on Rails</a></p>
    </div>
    <%= render 'form' %>
    <% if !flash[:error].nil? %>
    <p class="error" id="1"></p>  
    <% end %>
