    <div class="row-fluid padding-tb" id="row-line-main">
      <div class="span8 center">
        <h1 class="main-title">Kokko Social Gym</h1>
        <h3 id="subtitle">
          Resta in forma con Social Gym...<br />
          ...allenati con i tuoi amici...<br />
          tieni d'occhio i tuoi progressi, divertiti!
        </h3>
      </div>
      <div class="span4 center">
        <%= image_tag("icon.svg") %>
      </div>
    </div>

    <!-- ROW BOTTONI -->
    <div class="row-fluid" id="row-line-button"> 
      <div class="span1"></div>
      <div class="span4 center" style="padding-top:20px">
        <%= link_to '<a href="#login-modal" role="button" class="btn btn-danger btn-large button-style" data-toggle="modal">Entra!</a>'.html_safe, login_path %>
      </div>
      <div class="span2 center">
        <div class="row-fluid center">
          <div id="triangle-top"></div>
        </div>
        <div class="row-fluid center">
          <div id="triangle-bottom"></div>
        </div>
      </div>
      <div class="span4 center" style="padding-top:20px">
        <%= link_to '<a href="#signin-modal" role="button" class="btn btn-danger btn-large button-style" data-toggle="modal">Registrati!</a>'.html_safe, controller: :users, action: :new %>
      </div>
      <div class="span1"></div>
    </div>
    
    <!-- ROW BOTTONI -->
    
    <div class="row-fluid padding-tb" id="row-line-first">
      <div class="span6 center">
        <h2 class="shad-even">Entra in palestra!</h2>
        <p class="padd-even">
          Iscriviti subito e allenati nella nostra palestra virtuale.
        </p>
      </div>
      <div class="span6">
        <div class="numb center shad-even">#1</div>
      </div>
    </div>

    <div class="row-fluid padding-tb" id="row-line-second">
      <div class="span6">
        <div class="numb center shad-odd">#2</div>
      </div>
      <div class="span6 center">
        <h2 class="shad-odd">Scegli un programma!</h2>
        <p class="padd-odd">
          Prova una serie di esercizi e trova quello adatto a te.
        </p>
      </div>
    </div>

    <div class="row-fluid padding-tb" id="row-line-third">
      <div class="span6 center">
        <h2 class="shad-even">Allenati con gli amici!</h2>
        <p class="padd-even">
          Invita i tuoi amici, allenati e divertiti con loro in palestra.
        </p>
      </div>
      <div class="span6">
        <div class="numb center shad-even">#3</div>
      </div>
    </div>

    <div class="row-fluid center foot" id="row-line-bottom">
      <p>2013 Kokko</p>
    </div>

    <%= render 'form' %>
