<div class="well">
  <div class="center">
    <h2>Add new Lesson</h2>
  </div>
  <%= form_for :lesson, url: {controller: :lessons, action: :create, :prog_id => @program.id} do |f| %>
  <%= f.text_field :title, placeholder: "Lesson's name" %>
  <button class="btn btn-primary btn-default">Add Lesson</button>
  <% end %>
</div>
