/* GREEN */
 $torquoise: #1ABC9C;
 $green_sea: #16A085;

/* LIGHT GREEN */
 $emerland: #2ECC71;
 $nephritis: #27AE60;

/* LIGHT BLUE */
 $peter_river: #3498DB;
 $belize_hole: #2980B9;

/* PURPLE */
 $amethyst: #9B59B6;
 $wisteria: #8E44AD;

/* BLUE-GRAY */
$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;

/* YELLOW */
$sun_flower: #F1C40F;
$orange: #F39C12;

/* ORANGE */
$carrot: #E67E22;
$pumpkin: #D35400;

/* RED */
$alizarin: #E74C3C;
$pomegranate: #C0392B;

/* SILVER */
$clouds: #ECF0F1;
$silver: #BDC3C7;

/* GRAY */
$concrete: #95A5A6;
$asbestos: #7F8C8D;
