/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require "demo.css"
 *= require "bootstrap_and_overrides.css.less"
 *= require "flat-ui.css"
 *= require_self
 *= require_tree .
 */

@import "settings";

.user-input {
  font-size: 20px;
}

textarea, input[type="text"], input[type="password"] {
  font-size: 20px;  
}

li {
    list-style: none;
}

.page-title {
  margin: 20px;
}

html body ::selection {
  background: #ff0066;
  color: white;
  text-shadow: none;
}

body {
  padding: 0px;
  font-size: 15px;
  background-color: #fff;
  color: $midnight_blue;
}

.center {
  text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

/* ---------------- OVERRIDE BOOTSTRAP ---------------- */
.accordion-inner div li a {
  color: #000;
  font-size: 25px;
}

.btn.btn-large{
	margin-top: 10px;
	padding: 20px;
}

.accordion-heading{
	background-color: $torquoise;
}

.accordion-heading:hover{
  background-color: $wet_asphalt;
}

.accordion-heading a{
  color: $midnight_blue;
}

.accordion-heading:hover a{
  color: white;
}

.accordion-inner div li {
  padding-top: 20px;
}

.accordion-inner div li a:active {
  color: #a73d3b;
}

.accordion-inner p, .goal p {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

.accordion-group {
  border: none;
}

.accordion-content {
  background-color: $clouds;
}

.nav-tabs li a {
  background-color: $clouds;
}

.nav-tabs > li > a {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;  
}

.nav-tabs a {
  color: black;
}

#myTabContent {
  background-color: white;
  margin-top: -20px;
  padding-top: 20px;
}

button, .btn {
  font-family: "Lato", Helvetica, sans serif;
}

.tabbable ul li a {
  color: $wet_asphalt;
}

.tabbable ul li.active a, .tabbable ul li.active a:hover  {
  color: $wet_asphalt;
}

.tabbable ul li a:hover {
  background-color: $wet_asphalt;
  color: white;
}

.modal-header {
    background-color: $midnight_blue;
}

/* ---------------- END OVERRIDE BOOTSTRAP ---------------- */


/* ---------------- VIDEO ---------------- */
iframe{
  border: 4px $torquoise solid;
}

.ex-title {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color: white;
  background-color: $torquoise; 
}

.ex-cont {
  padding: 25px;
  text-align: left;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  color: white;
  background-color: $clouds;
  color: $wet_asphalt;
  font-size: 20px;
  line-height: 200%;
}


/* ---------------- MESSAGGI ---------------- */
.row-message{
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: $silver 3px solid;
  border-right: $silver 3px solid;
  border-bottom: $silver 3px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px; 
  background-color: $clouds;
}

.msg-option {
  float:left;
}

/* ---------------- USERS ---------------- */
#profile-row-line-top {
  background-color: #34495E;
}

.menu-title {
    color: $midnight_blue;
}

.menu-el {
  margin: 0;
}

.menu-el .center {
  padding-top: 2%;
  padding-bottom: 2%;
}

.menu-el a {
  color:#fff;
}

.btn {
  border: 2px #fff solid;
}

.message-row {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: $silver 3px solid;
  border-bottom: $silver 3px solid;
  background-color: $clouds;
}

.message-cont {
  margin-right: 20px;
  margin-left: 20px;
}

.wall-image{
  width:40px;
  padding-left: 10px;
}

.avatar{
  border: 2px $torquoise solid;
  border-radius: 5px;
  width: 80px;
}

.friend-row{
  margin-top:20px;
  padding:20px; 
}

.row-ricerca{
  margin-top:10px;
  margin-bottom:20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.row-visited{
  margin-top:20px;
  padding: 20px;
}

.row-following{
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:20px;
  border-top: $silver 3px solid;
  border-right: $silver 3px solid;
  border-bottom: $silver 3px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $clouds;
}

.row-wall{
  margin-top: 20px;
  margin-bottom: 5px;  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;   
}

.friend-box, .feedback-box {
  background-color: $clouds;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px 20px 5px;
  border: 3px solid #bdc3c7;
}

/* --- WELCOME -- */

#row-line-top {
  background-color: $midnight_blue;
}
#row-line-main {
  background-color: $wet_asphalt;
  color: #ffffff;
}
#row-line-button {
  background-color: $clouds;
}
#row-line-first {
  background-color: #ffffff;
  color: $wet_asphalt;
}
#row-line-second {
  background-color: $wet_asphalt;
  color: #fff;
}
#row-line-third {
  background-color: #fff;
  color: $wet_asphalt;
}
#row-line-bottom {
  background-color: #222222;
  color: #ffffff;
}

.main-title {
  font-size: 90px;
  line-height: 1;
  /*text-shadow: 0 4px 4px rgba(0, 0, 0, 0.85);*/
  font-family: 'Montserrat', Helvetica, sans-serif;
}
#subtitle {
  margin-top: 35px;
}

.shad-odd,
.shad-even {
  font-weight: 50;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 35px;
  padding-bottom: 15px;
}
.padding-tb {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.numb {
  font-family: 'Alfa Slab One', Helvetica, sans-serif;
  font-size: 100px;
  line-height: 200%;
}
.foot {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
#triangle-top {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: $wet_asphalt transparent transparent transparent;
}
#triangle-bottom {
  margin: 0 auto;
  margin-top: 50px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 50px 50px 50px;
  border-color: transparent transparent #fff transparent;
}

.who-photo{
  /*border: 2px solid $silver;*/
  border-radius: 5px;
  width: 100px;
  margin: 20px;
}

#light-menu ul {
  float: right;
}

#light-menu li, #backbone {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

#light-menu li a {
  color: #fff;
  text-decoration: none;
}

#backbone {
    background-color: $belize_hole;
    border-radius: 5px;
    border: 1px solid white;
}

#backbone:active, #backbone:hover {
  background-color: $peter_river;
  border-radius: 5px;
  border: 1px solid white;
}

#bar-prog-title {
    background-color: $sun_flower;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid white;
}

.padd-odd {
  padding-right: 20px;
  font-size: 30px;
}
.padd-even {
  padding-left: 20px;
  font-size: 30px;
}

.icon-4x {
  color: $green_sea;
}

.btn-home {
  height: 80px;
  font-size: 30px;
}

.who-name{
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}