/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require "demo.css"
 *= require "bootstrap_and_overrides.css.less"
 *= require "flat-ui.css"
 *= require_self
 *= require_tree .
 */

@import "settings";

li {
    list-style: none;
}

.page-title {
  margin: 20px;
}

.white{
	color:#fff;
}

.black{
  color:black;
}

.red {
  color:#a73d3b;
}

.light-red {
  color: #b94a48;
}

.bg-red{
  color:#a73d3b;
}

.bg-white{
  color:white;
}

.green{
  color:#5bb75b;
}

html body ::selection {
  background: #ff0066;
  color: white;
  text-shadow: none;
}

body {
  padding: 0px;
  font-size: 15px;
  background-color: #fff;
  color: $midnight_blue;
}

.center {
  text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

/* ---------------- OVERRIDE BOOTSTRAP ---------------- */
.accordion-inner div li a {
  color: #000;
  font-size: 25px;
}

.btn.btn-large{
	margin-top: 10px;
	padding: 20px;
}

.accordion-heading{
	background-color: $torquoise;
}

.accordion-heading:hover{
  background-color: $wet_asphalt;
}

.accordion-heading a{
  color: $midnight_blue;
}

.accordion-heading:hover a{
  color: white;
}

.accordion-inner div li {
  padding-top: 20px;
}

.accordion-inner div li a:active {
  color: #a73d3b;
}

.accordion-inner p, .goal p {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

.accordion-group {
  border: none;
}

.accordion-content {
  background-color: $clouds;
}

.nav-tabs li a {
  background-color: $clouds;
}

.nav-tabs > li > a {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;  
}

.nav-tabs a {
  color: black;
}

#myTabContent {
  background-color: white;
  margin-top: -20px;
  padding-top: 20px;
}

button, .btn {
  font-family: "Lato", Helvetica, sans serif;
}


/* ---------------- END OVERRIDE BOOTSTRAP ---------------- */
