// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

.backstage{
	background-color: $clouds;
	border-top: 2px solid $silver;
	border-bottom: 2px solid $silver;
}

iframe{
	border: 4px $torquoise solid;
}

.ex-title {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: white;
	background-color: $torquoise;	
}

.ex-cont {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	background-color: $clouds;
	color: $wet_asphalt;
}