// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

.backstage{
	background-color: $clouds;
	border-top: 2px solid $silver;
	border-bottom: 2px solid $silver;
}

iframe{
	border: 4px $torquoise solid;
}