// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	background-color: #ebebeb;
}

#profile-row-line-top {
  background-color: #a73d3b;
}

.menu-el {
	margin: 0;
}
.menu-el .center {
	padding-top: 5%;
	padding-bottom: 5%;
}

.white, .menu-el a {
	color:#fff;
}

.accordion-heading a {
	color: #b94a48;
}

.span-odd-dx{
	border: 5px solid #bbb;
	border-radius: 200px;
	background-color: #ccc; 
	/*border-left: solid 15px #a73d3b;
	border-top: 1px #a73d3b solid;
	border-bottom-left-radius: 200px;
	border-top-left-radius: 200px;
	border-left: solid 15px #fff;
	border-top: 1px  solid #fff;*/
}

.span-odd-sx{
	border: 5px solid #ddd;
	border-radius: 200px;
	background-color: #fff; 
	/*border-right: solid 15px rgb(221, 221, 221);
	border-top: 1px  solid rgb(221, 221, 221);
	border-bottom-right-radius: 200px;
	border-top-right-radius: 200px;
	border-right: solid 15px rgb(221, 221, 221);
	border-top: 1px rgb(221, 221, 221) solid;*/
}

.span-sx{
	border-radius: 200px;
	border: 5px solid #bbb;
	/*border-bottom-right-radius: 200px;
	border-top-right-radius: 200px;
	border-right: solid 15px #fff;
	border-top: 1px #fff solid;*/
	background-color: #ccc;
}

.span-dx{
	border-radius: 200px;
	border: 5px solid #ddd;
	/*border-bottom-left-radius: 200px;
	border-top-left-radius: 200px;
	border-left: solid 15px rgb(221, 221, 221);
	border-top: 1px  solid rgb(221, 221, 221);*/
	background-color: #fff;
}
