// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile-row-line-top {
  background-color: #34495E;
}

.menu-el {
	margin: 0;
}
.menu-el .center {
	padding-top: 2%;
	padding-bottom: 2%;
}

.menu-el a {
	color:#fff;
}

.btn {
	border: 2px #fff solid;
}

.span-odd-dx{
	border: 5px solid #bbb;
	border-radius: 200px;
	background-color: #ccc; 
	
}

.span-odd-sx{
	border: 5px solid #ddd;
	border-radius: 200px;
	background-color: #fff; 
	
}

.span-sx{
	border-radius: 200px;
	border: 5px solid #bbb;
	background-color: #ccc;
}

.span-sx:active, .span-odd-dx:active {
	background-color: #bbb;
}

.span-dx:active, .span-odd-sx:active {
	background-color: #ddd;
}

.span-dx{
	border-radius: 200px;
	border: 5px solid #ddd;
	background-color: #fff;
}



a {
	text-decoration: none;
	color: #fff;
}

