// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#profile-row-line-top {
  background-color: #222222;
}

.menu-el {
	margin: 0;
}
.menu-el .center {
	padding: 85px;

}

.menu-el a {
	color: white;
}