// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#immagine{
	width:40%;
	height:80%;
}

div.well_plain{
	background-color:white;
	border-radius: 25px;
	padding: 4%;
}