h2 {
  margin: 40px;
}

.black{
  color:black;
}

.red {
  color:#a73d3b;
}

.light-red {
  color: #b94a48;
}

.bg-red{
  color:#a73d3b;
}

.bg-white{
  color:white;
}

.green{
  color:#5bb75b;
}

html body ::selection {
  background: #ff0066;
  color: white;
  text-shadow: none;
}
body {
  padding: 0px;
  font-family: 'Sintony', Helvetica, sans-serif;
  font-size: 15px;
}
#row-line-top {
  background-color: #a73d3b;
}
#row-line-main {
  background-color: #b94a48;
  color: #ffffff;
}
#row-line-button {
  background-color: #ebebeb;
}
#row-line-first {
  background-color: #ffffff;
  color: #b94a48;
}
#row-line-second {
  background-color: #b94a48;
  color: #ffffff;
}
#row-line-third {
  background-color: #ffffff;
  color: #b94a48;
}
#row-line-bottom {
  background-color: #222222;
  color: #ffffff;
}
.center {
  text-align: center;
}
.main-title {
  font-size: 90px;
  line-height: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.85);
  font-family: 'Montserrat', Helvetica, sans-serif;
}
#subtitle {
  margin-top: 35px;
}
.shad-odd,
.shad-even {
  font-weight: 50;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 35px;
  padding-bottom: 15px;
}
.padding-tb {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.button-style {
  font-family: 'Sintony', Helvetica, sans-serif;
  width: 70%;
  padding: 30px 0px;
  font-size: 30px;
  /*margin-top: 20px;*/

}
.numb {
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
  line-height: 200%;
}
.foot {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
#triangle-top {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #b94a48 transparent transparent transparent;
}
#triangle-bottom {
  margin: 0 auto;
  margin-top: 20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 50px 50px 50px;
  border-color: transparent transparent #fff transparent;
}
#light-menu {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}
#light-menu ul {
  float: right;
}
#light-menu li {
  color: #fff;
  text-decoration: none;
  float: left;
  padding-right: 20px;
}
a {
  color: #fff;
}
a:active, a:hover {
  color: #000;
  text-decoration: none;
}

/* ---------------- OVERRIDE BOOTSTRAP ---------------- */
.accordion-inner div li a {
  color: #b94a48;
  font-size: 25px;
}

.accordion-inner div li {
  padding-top: 20px;
}

.accordion-inner div li a:active {
  color: #a73d3b;
}

.accordion-inner p, .goal p {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

.accordion-group {
  border: none;
  border-top: 2px solid #ccc;
}

.padd-odd {
  padding-right: 20px;
  font-size: 30px;
}
.padd-even {
  padding-left: 20px;
  font-size: 30px;
}

.btn {
  font-family: 'Sintony', sans-serif;
}
/* ---------------- END OVERRIDE BOOTSTRAP ---------------- */

li.active a h4 {
  color: #a73d3b;
  font-size: 20px;
}

li a h4 {
  font-size: 20px;
}

.rilievo {
  color: #282828;
  text-shadow: 1px 1px 0px #f2f2f2, 1px 2px 0px #b1b1b2;
}

/* RATING */
.rating {
  unicode-bidi:bidi-override;
  direction:rtl;
  font-size:30px
}

.rating span.star {
font-family:FontAwesome;
font-weight:normal;
font-style:normal;
display:inline-block;
}

.rating span.star:hover {
cursor:pointer
}

.rating span.star:before {
content:"\f006";
padding-right:10px;
margin-left: -10px;
color:#999}

.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content:"\f005";
  color:#e3cf7a
}
/* seleztiona tutti i before che vi sono prima del hover */


